.uploadFileType {

    position: absolute;
    width: 150px;
    border-radius: 8px;
    background-color: #fff;
    padding: 8px;

    .uploadFileTypeItem {
        width: 100%;
        height: 50px;
        border-radius: 8px;
        text-align: center;
        line-height: 50px;
        font-size: 16px;
        display: block;
        cursor: pointer;

        .uploadFileTypeItemText {
            margin-left: 16px;
            font-size: 16px;
        }
    }

    .uploadFileTypeItem:hover {
        background: #EEEEEE;
    }

    .box {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
}