@import "./reset.css";
@import './capctha.css';

html,
body,
button {
  padding: 0;
  margin: 0;
  font-family: "PingFang", system-ui, sans-serif;
  background-color: #fff;
}

.pointer {
  cursor: pointer;
}

.link {
  cursor: pointer;
  color: #2CC8C2;
  font-size: 14px;

  &:hover {
    color: #15C1BA;
  }
}

.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}

@media screen and (max-width: 1440px) {

  html,
  body {
    font-size: 13px;
  }
}

.ant-modal-content {
  overflow: hidden;
  border-radius: 8px !important;
}

@keyframes rotate_1 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.rotate_1 {
  //transition: all 2s ease-in-out;
  animation: rotate_1 infinite 2s ease-in-out;
}

.ant-input:focus {
  border: 1px solid rgb(221, 221, 221) !important;
}

.ant-message-custom-content {
  display: flex;
  align-items: center;

}

.ant-message .anticon {
  top: 0px !important;
}

.ant-input:hover {
  border: 1px solid #d9d9d9 !important;
}


.ant-select-selection__rendered {
  height: 100%;
}

.ant-select-selector {
  border: 1px solid #d9d9d9 !important;
}

.ant-select-selection {
  border: 1px solid #d9d9d9 !important;
  box-shadow: none!important;
}
.ant-select-open{
  // border: 1px solid #d9d9d9 !important;
  box-shadow: none!important;
}






.w-e-toolbar .w-e-menu:hover i {
  color: #2CC8C2 !important;
}

.w-e-menu .w-e-panel-container .w-e-panel-tab-content input[type=text]:focus {
  border-bottom: 2px solid #2CC8C2 !important;
}

.w-e-menu .w-e-panel-container .w-e-panel-tab-content .w-e-button-container button {

  color: #2CC8C2 !important;
}